body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Website header */

.website-header {
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    margin: 0;
    padding: 1rem 0;
}

.website-header a {
    text-decoration: none;
    color: rgb(90, 180, 90);
}

/* Logo */

.logo {
    max-width: 1140px;
    margin: auto;
    font-size: 2rem;
}

/* Website Header Text */

.website-header-inner {
    max-width: 1140px;
    margin: 1.5rem auto;
    font-size: 1.2rem;
}

/* Menu Bar */

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}

.menu-bar .left {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Resume */

#resume {
    max-width: 21cm;
    margin: 2rem auto;
    border-style: solid;
    border-width: 1px;
    padding: 0.5cm 1cm;
}

#header {
    text-align: center;
}
#header h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#header p {
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: lighter;
}
h2 {
    font-size: 1.25rem;
}

.job {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.job h2,p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.left-right {
    display: flex;
    justify-content: space-between;
}
.company-position {
    color: rgb(80, 80, 80);
    margin: 0px;
    font-size: 1rem

}
.diploma .left {
    font-weight: bold;
}